<!DOCTYPE html>

<html lang="en" xml:lang="en">
   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2022-05-22">[project url]/api/2022-05-22</a></li>
        <li><a href="api/1653177600000">[project url]/api/1653177600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1653177600000, "Sun, 22 May 2022 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>By Julia Martins</p>
    </div>
  </body>
</html>
